.App {
  text-align: center;
  width: 100%;
  overflow: hidden; 
  max-height: 100vh;
}

.first {
  width: 300px;
  float:left; 
  overflow-y: scroll;
  max-height: 100vh;
  min-width: fit-content;
}
.second {
  overflow: hidden; 
}
.card {
  margin-top: 10px;
  transition: box-shadow ease-in 0.3s;
}
.card:hover {
  margin-top: 10px;
  box-shadow: 0px 0px 10px 2px rgb(102, 112, 105);
}

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}

.row > h2{
	
	color:#008080;
}
.login_form{
	
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.btn.delete:hover{
	background-color: rgb(151, 8, 8);
}
.btn.share:hover{
	background-color: rgb(101, 122, 237);
	position: relative;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}
.searchresults{
		
		float:left; 
		overflow-y: scroll;
		max-height: 70vh;
		min-width: 100%;
	  
}
.logo{
	width: 15%;
}
.tools{
	background-color: #8de1e1;
	border-radius: 10px;
}


  .dropdown-content {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
  }
 
  .dropdown-content a:hover {background-color: #ddd;
	border-radius: 10px;

}
  
  .dropdown:hover .dropdown-content {display: block;}
  


@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}




